*{
    margin:0;
    padding:0;
    font-family: 'Lora', serif;
}
#container{
    height:100vh;
    width:100%;
    color: white;
}
#container::before{
    height:100vh;
    width:100%;
    content: " ";
    position: absolute;
    background: url(./images/background.jpg) no-repeat center center/cover; 
    z-index: -1;
    opacity: 0.9;
}
.about{
    position: relative;
    width:50vw;
    height: 80vh;
    display: flex;
    flex-direction: column;
   background-color: rgba(67, 72, 71, 0.104);
   box-shadow: 2px 2px 10px rgb(228, 218, 210);
   margin: auto;
   }
h1{
    font-size: 3rem;
    padding: 10px;
    margin-top: 30px;
    text-align: center;
}
p{
    font-size: 1.2rem;
    padding: 10px;
    margin: 20px; 
    line-height: 2rem;
    text-align: center;
   
} 

/* media query */

@media(max-width:1100px){
   
    .about{
        width:85vw;
        height: 80vh;
    }
    h1{
        font-size: 3rem;
        padding: 5px;
        margin-top:4.4rem;
    
    }
    p{
        font-size: 1.2rem;
        padding: 10px;
        margin: 25px; 
        line-height: 1.2rem;
        text-align: start;
       
    } 
    
}

