*{
    margin:0;
    padding:0;
    font-family: 'Poppins', sans-serif;
}
/* utility classes */
p{
    text-align:center;
    padding: 10px;
    margin: 10px;
    font-size: 0.8rem;
    color: white;
    }
    h3{
        text-align:center;
        margin: 10px;
        padding: 10px;
        font-size: 1.4rem;
        color: white;
       
}
    
    img{
        height: 250px;
        width:350px;
        border-radius: 50%;
    }
    

#menu-container{
    position:relative;
display: flex;
width: 100%;
height:100%;
background-color: rgba(0, 0, 0, 0.968);
flex-wrap: wrap;
}
/* #menu-container::before{
    content:" ";
    background: url();
} */

.menu-items{
    position: relative;
    display: flex;
justify-content: space-around;
align-items: center;
    /* background-color: white; */
    height:500px;
    width:100%;
   margin: 3rem;
   box-sizing: border-box;
   
}
.indian{
    text-align: center;
/* background-color: red; */
height: 500px;
width:400px;
box-shadow: 5px 5px 5px rgb(119, 118, 118);
}
 
.pp{
    text-align: center;
    /* background-color:burlywood; */
height: 500px;
width:400px;
box-shadow: 5px 5px 5px rgb(119, 118, 118);
}
.chiness{
    text-align: center;
    /* background-color: red; */
    height: 500px;
    width:400px;  
    box-shadow: 5px 5px 5px rgb(119, 118, 118);
}
.desert{
    text-align: center;
    /* background-color: red; */
height: 500px;
width:400px;
box-shadow: 5px 5px 5px rgb(119, 118, 118);
}
.drink{
    text-align: center;
    /* background-color: red; */
height: 500px;
width:400px;
box-shadow: 5px 5px 5px rgb(119, 118, 118);
}
button{
    height: 2.5rem;
    width:8rem;
    border-radius: 30px;
    background-color: orangered;
    color: white;
    font-size: 1rem;
    padding: 5px;
    cursor: pointer;
}
button:hover{
font-size:1.2rem ;
    box-shadow: 1px 2px 2px white;
}

/* media query */

@media(max-width:1000px){
    p{
        text-align:center;
        padding: 10px;
        margin: 5px;
        font-size: 0.5rem;
        color: white;
        margin-left: 25px;
        margin-right: 25px;
        }
        h3{
            text-align:center;
            margin: 5px;
            padding: 5px;
            font-size: 1rem;
            color: white;
           
    }
        
        img{
            height: 85px;
            width:205px;
            border-radius: 50%;
        }
        button{
            height: 1.2rem;
            width:4.5rem;
            color: white;
            font-size: 0.5rem;
            padding: 0px;
        }
        button:hover{
            font-size:0.6rem ;
            }
    .menu-items{
       flex-direction: column;
    
        height:100%;
        width:100%;
       margin: 0rem;
       box-sizing:border-box;
       
    }
    .indian{
        text-align: center;
    height: 230px;
    width:100%;
    box-shadow: 2px 2px 2px rgb(119, 118, 118);
    }
    .pp{
        text-align: center;
    height: 230px;
    width:100%;
    box-shadow: 2px 2px 2px rgb(119, 118, 118);
    }
    .chiness{
        text-align: center;
        height: 230px;
        width:100%;  
        box-shadow: 2px 2px 2px rgb(119, 118, 118);
    }
    .desert{
        text-align: center;
    height: 230px;
    width:100%;
    box-shadow: 2px 2px 2px rgb(119, 118, 118);
    }
    .drink{
        text-align: center;
    height: 230px;
    width:100%;
    box-shadow: 2px 2px 2px rgb(119, 118, 118);
    }
    
}
